<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>首页</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--优先调用最高版本IE浏览器和webkit浏览器-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/semantic/semantic.min.css}" rel="stylesheet"/>
    <link th:href="@{/modules/layer/theme/default/layer.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/font/fanyi/fanyi.css}" rel="stylesheet"/>
    <link th:href="@{/css/calendar.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/semantic/semantic.min.js}" type="text/javascript"></script>
    <script th:src="@{/modules/layer/layer.js}" type="text/javascript"></script>
    <script th:src="@{/js/calendar.js}" type="text/javascript"></script>

</head>
<body style="height: 100%;">
<form action="" class="ui form">
<div class="field">
        <select class="ui fluid dropdown quality" name="quality">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="2">2</option>
        </select>
</div></form>
<button>a</button>
</body>

<script th:src="@{/js/basic.js}" type="text/javascript"></script>

<script th:src="@{/js/web.js}" type="text/javascript"></script>
<script>
    $("button").click(function () {
        console.log($("form").form("get values"));
    });
</script>
</html>
