<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/homeLayout"
>
<body>
<div th:fragment="content">
    <!--激活相应的菜单-->
    <div id="activeMenu" data-value="task"></div>
    <div style="padding-bottom:60px;">
        <div class="home header">
            修改文章
        </div>
        <div class="ui divider"></div>
        <div style="margin:30px;">
            <table class="ui large padded  table">
                <thead>
                <tr>
                    <th>修改文章</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="overflow: visible;">
                        <div class="ui container" style="width: 800px;">
                            <form id="articleForm" th:action="@{/admin/article/update}"
                                  class="ui form"
                                  method="post" enctype="multipart/form-data">
                                <div class="ui two column grid">

                                    <div class="two wide column">
                                        文章标题
                                    </div>
                                    <div class="fourteen wide column">
                                        <div class="field">
                                            <input type="text" name="title" placeholder="任务标题" th:value="${article.title}">
                                        </div>
                                    </div>

                                    <div class="two wide column">
                                        文章目录
                                    </div>
                                    <div class="fourteen wide column" style="z-index: 10002;">
                                        <div class="field" >
                                            <select name="catalogId" class="ui dropdown" >
                                                <option th:each="catalog:${catalogs}"
                                                        th:value="${catalog.id}"
                                                        th:text="${catalog.catalog}"
                                                        th:attr="selected=${catalog.id}==${article.catalog.id}?'selected':'false'"
                                                ></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="two wide column">
                                        文章内容
                                    </div>
                                    <div class="fourteen wide column">
                                        <div class="field" >
                                            <!--wangEditor编辑区域-->
                                            <div id="editorToolbar" style="border: 1px solid #eee">
                                                <div class="w-e-menu" style="z-index:10001;">
                                                    <i class="ui expand icon"></i>
                                                </div>
                                            </div>
                                            <div id="editorText" style="height: 500px;border: 1px solid #eee;margin-top: -1px;" th:utext="${article.articleContent.content}">

                                            </div>
                                            <!--wangEditor编辑区域-->
                                            <input type="hidden" name="article">
                                        </div>
                                    </div>

                                    <div class="two wide column"></div>
                                    <div class="fourteen wide column">
                                        <input type="hidden" name="id" th:value="${article.id}">
                                        <div class="ui blue button submitButton">提交修改</div>
                                        <!--错误提示-->
                                        <div th:include="layout/message::message (${message})"
                                             th:remove="tag"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>



</div>

</body>
</html>
