<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/homeLayout"
>
<body>
<div th:fragment="content">
    <!--激活相应的菜单-->
    <div id="activeMenu" data-value="auth"></div>
    <div style="padding-bottom:60px;">
        <div class="home header">
            账单详情
        </div>
        <div class="home secondHeader">
            <a th:href="@{/bill}"><i class="ui left angle icon"></i>结算账单</a> / 账单详情
        </div>
        <div class="ui divider"></div>
        <div style="margin: 30px;">
            <table th:if="${bill.type}==0" th:with="task=${bill.vipTasks[0]}" class="ui large  table">
                <!--次结账单详情-->
                <thead>
                <tr>
                    <th class="three wide">账单详情</th>
                    <th class="six wide"></th>
                    <th class="seven wide"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        编号
                    </td>
                    <td th:text="${#strings.append(#dates.format(task.createdAt,'yyyyMMdd'),task.id)}">
                    </td>
                    <td class="right aligned collapsing">
                    </td>
                </tr>
                <tr>
                    <td>
                        标题
                    </td>
                    <td th:text="${task.title}">
                    </td>
                    <td class="right aligned collapsing">
                    </td>
                </tr>
                <tr>
                    <td>
                        接单日期
                    </td>
                    <td th:text="${#dates.format(task.createdAt,'yyyy-MM-dd HH:mm')}"></td>
                    <td class="right aligned"></td>
                </tr>
                <tr>
                    <td>
                        完成日期
                    </td>
                    <td th:text="${#dates.format(task.doneTime,'yyyy-MM-dd HH:mm')}"></td>
                    <td class="right aligned"></td>
                </tr>
                <tr>
                    <td>
                        翻译字数
                    </td>
                    <td th:text="${task.word}==null?'':${task.word}+'字'"></td>
                    <td class="right aligned"></td>
                </tr>
                <tr>
                    <td>
                        口译时长
                    </td>
                    <td th:text="${task.hour}==null?'':${task.hour}+'小时'"></td>
                    <td class="right aligned"></td>
                </tr>
                <tr>
                    <td>
                        单价（每千字或每小时）
                    </td>
                    <td th:text="${task.unitPrice}+'元'">
                    </td>
                    <td class="right aligned">
                    </td>
                </tr>

                <tr>
                    <td>
                        含税总价
                    </td>
                    <td th:text="${task.price}+'元'">
                    </td>
                    <td class="right aligned">
                    </td>
                </tr>

                </tbody>
            </table>

            <table th:if="${bill.type}==1" class="ui large  table">
                <!--月结账单详情-->
                <thead>
                <tr>
                    <th class="two wide" colspan="10" th:text="${#dates.format(bill.createdAt,'yyyy年MM月')}+'账单详情'"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>序号</td>
                    <td>单号</td>
                    <td>标题</td>
                    <td>接单日期</td>
                    <td>完成日期</td>
                    <td>翻译字数</td>
                    <td>口译时长</td>
                    <td>单价（每千字或每小时）</td>
                    <td>含税总价</td>
                </tr>
                <tr th:each="task,taskStat:${bill.vipTasks}">
                    <td th:text="${taskStat.index}"></td>
                    <td th:text="${#strings.append(#dates.format(task.createdAt,'yyyyMMdd'),task.id)}"></td>
                    <td th:text="${task.title}"></td>
                    <td th:text="${#dates.format(task.createdAt,'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${#dates.format(task.doneTime,'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${task.word}==null?'':${task.word}+'字'"></td>
                    <td th:text="${task.hour}==null?'':${task.hour}+'小时'"></td>
                    <td th:text="${task.unitPrice}+'元'"></td>
                    <td th:text="${task.price}+'元'"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>合计费用：</td>
                    <td th:text="${bill.price}+'元'"></td>
                </tr>
                </tbody>
            </table>


            <!--成功通知-->
            <div th:include="layout/message::message (${message})" th:remove="tag"></div>
        </div>
    </div>
</div>

</div>
</body>
</html>
