<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/homeLayout"
>
<body>
<div th:fragment="content">
    <!--激活相应的菜单-->
    <div id="activeMenu" data-value="auth"></div>
    <div style="padding-bottom:60px;">
        <div class="home header">
            客户认证
        </div>
        <div class="ui divider"></div>
        <div style="margin: 30px;">
            <table class="ui fixed table">
                <thead>
                <tr>
                    <th class="two wide">实名认证信息</th>
                    <th class="seven wide"></th>
                    <th class="seven wide"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="collapsing">
                        姓名
                    </td>
                    <td th:text="${certificate.name}">
                    </td>
                    <td class="right aligned collapsing">
                        <a th:href="@{/update/user/realname?field=name}" th:if="${check.realNameCheck}!=1">修改姓名</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        居住地址
                    </td>
                    <td th:text="${certificate.province.name}+${certificate.city.name}+${certificate.area.name}+${certificate.address}"></td>
                    <td class="right aligned"><a th:href="@{/update/user/realname?field=address}">修改地址</a></td>
                </tr>
                <tr>
                    <td>
                        身份证号码
                    </td>
                    <td th:text="${certificate.idNumber}"></td>
                    <td class="right aligned">
                        <a th:href="@{/update/user/realname?field=idNumber}"
                           th:if="${check.realNameCheck}!=1">修改身份证号码</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        身份证照片
                    </td>
                    <td>
                        <img th:src="${certificate.idCardFront}"
                             alt="" style="height: 80px;">
                        <img th:src="${certificate.idCardBack}"
                             alt="" style="height: 80px;">
                    </td>
                    <td class="right aligned">
                        <a th:href="@{/update/user/realname?field=idCardPhoto}"
                           th:if="${check.realNameCheck}!=1">重新上传身份证照片</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        认证结果
                    </td>
                    <td th:if="${check.realNameCheck}==0"><i class="ui large blue clock icon"></i>审核中（1～3个工作日）
                    </td>
                    <td th:if="${check.realNameCheck}==1"><i class="ui large  green check circle icon"></i>审核通过
                        <a sec:authorize="!hasRole('ROLE_AUTH_CLIENT')" th:href="@{/refresh/certificate}"><i class="ui large blue refresh icon"></i>刷新认证证书</a>
                    </td>
                    <td th:if="${check.realNameCheck}==2"><i class="ui large  red remove circle icon"></i>审核失败（原因：身份证信息和照片不符）
                    </td>
                    <td class="right aligned"></td>
                </tr>
                </tbody>
            </table>
            <!--成功通知-->
            <div th:include="layout/message::message (${nameMessage})" th:remove="tag"></div>
            <a th:href="@{/client/certificate}" class="ui blue button">企业认证 ></a>
            <div style="margin-top: 14px;opacity: 0.5;">*个人客户仅需实名认证，企业客户建议进行企业认证。</div>
        </div>
    </div>
</div>

</div>
</body>
</html>
