<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/homeLayout"
>
<body>
<div th:fragment="content">
    <!--激活相应的菜单-->
    <div id="activeMenu" data-value="auth"></div>
    <div style="padding-bottom:60px;">
        <div class="home header">
            上传VIP任务翻译
        </div>
        <div class="home secondHeader">
            <a th:href="@{/admin/vip/task/list}"><i class="ui left angle icon"></i>VIP任务</a> / 上传VIP任务翻译
        </div>
        <div class="ui divider"></div>
        <div style="margin: 30px;">
            <table class="ui large  table">
                <thead>
                <tr>
                    <th class="two wide">上传VIP任务翻译</th>
                    <th class="seven wide"></th>
                    <th class="seven wide"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="collapsing">
                        标题
                    </td>
                    <td th:text="${task.title}">
                    </td>
                    <td class="right aligned collapsing">
                    </td>
                </tr>
                <tr>
                    <td>
                        翻译语言
                    </td>
                    <td th:text="${task.languageGroup.originLanguages.name}+'->'+${task.languageGroup.translateLanguages.name}+(${task.type}==0?'口译':'笔译')">
                    </td>
                    <td class="right aligned">
                    </td>
                </tr>
                <tr>
                    <td>
                        VIP客户昵称
                    </td>
                    <td th:text="${task.user.attribute.nickname}">
                    </td>
                    <td class="right aligned">
                    </td>
                </tr>
                <tr>
                    <td>
                        结算方式
                    </td>
                    <td th:text="${task.user.vip.type}==0?'次结':'月结'">
                    </td>
                    <td class="right aligned">
                    </td>
                </tr>
                <tr>
                    <td>
                        创建时间
                    </td>
                    <td th:text="${#dates.format(task.createdAt,'yyyy-MM-dd HH:mm')}"></td>
                    <td class="right aligned"></td>
                </tr>
                <tr th:if="${task.type}==1">
                    <td>
                        截稿时间
                    </td>
                    <td th:text="${#dates.format(task.endTime,'yyyy-MM-dd HH:mm')}"></td>
                    <td class="right aligned"></td>
                </tr>
                <tr>
                    <td>
                        管理员
                    </td>
                    <td th:text="'创建:'+${task.admin.username}+',最后操作:'+${task.modifiedBy}">
                    </td>
                    <td class="right aligned">
                    </td>
                </tr>
                <tr>
                    <td>
                        任务状态
                    </td>
                    <td>
                        <span th:if="${task.off}==0">正在进行</span>
                        <span th:if="${task.off}==1">已关闭任务</span>
                        <span th:if="${task.off}==2">完成翻译</span>
                        <span th:if="${task.off}==3">已出账单未付款</span>
                        <span th:if="${task.off}==4">已付款</span>
                        <span th:if="${task.off}==5">待发送月结账单</span>
                        <span th:if="${task.off}==6">确认完成</span>
                    </td>
                    <td class="right aligned">
                    </td>
                </tr>

                <tr>
                    <td>
                        单价（元/千字 或 元/小时）
                    </td>
                    <td th:text="'￥'+${task.unitPrice}">
                    </td>
                    <td class="right aligned">
                    </td>
                </tr>

                <tr th:if="${task.type}==1">
                    <td>
                        翻译字数
                    </td>
                    <td th:text="${task.word}+'字'">
                    </td>
                    <td class="right aligned">
                    </td>
                </tr>

                <tr th:if="${task.type}==0">
                    <td>
                       口译时长
                    </td>
                    <td th:text="${task.hour}+'小时'">
                    </td>
                    <td class="right aligned">
                    </td>
                </tr>

                <tr>
                    <td>
                        翻译内容
                    </td>
                    <td>
                        <a th:href="${task.vipAttachment}">下载附件</a>
                    </td>
                    <td class="right aligned">
                    </td>
                </tr>
                <tr>
                    <td>
                        翻译稿件
                    </td>
                    <td>
                        <a th:href="${task.vipTask}" th:text="'下载第'+${task.version}+'版'"></a>
                    </td>
                    <td class="right aligned">
                    </td>
                </tr>

                <tr>
                    <td>
                        总额
                    </td>
                    <td th:text="${task.price}+'元'">
                    </td>
                    <td class="right aligned">
                    </td>
                </tr>

                </tbody>
            </table>

            <div class="ui segment clearShadow" th:if="${task.off}!=1">
                <form id="vipTaskTranslateForm" th:action="@{/admin/vip/task/translate}" class="ui form" method="post">

                    <div class="field">
                        <a id="vipTask">
                            <i class="iu upload icon"></i>点击添加文件
                        </a>
                        <span>(允许上传1个100M以下的附件，建议打包上传)</span>
                        <input type="file" name="vipTask" class="hide"/>
                        <input type="hidden" name="path"/>
                        <input type="hidden" name="id" th:value="${task.id}"/>
                    </div>
                    <div id="vipTaskBox" class="ui message">
                        <span></span><span>未上传翻译稿件</span>
                    </div>

                    <a class="ui blue button submit">提交翻译稿件</a>

                    <!--如果是次结，并且已经确认完成-->
                    <a th:href="@{/admin/bill/make?id=}+${task.id}"
                       th:if="${task.user.vip.type}==0 and ${task.off}==6"
                       class="ui basic blue button">生成并发送次结账单</a>

                    <!--如果是月结，并且已经确认完成-->
                    <a th:href="@{/admin/bill/suspend?id=}+${task.id}"
                       th:if="${task.user.vip.type}==1 and ${task.off}==6"
                       class="ui basic blue button">生成月结账单</a>

                    <a th:if="${task.off}==0 or ${task.off}==2" th:href="@{/admin/vip/task/close?id=}+${task.id}" class="ui basic blue button">关闭任务</a>

                </form>
            </div>

            <!--成功通知-->
            <div th:include="layout/message::message (${message})" th:remove="tag"></div>
        </div>
    </div>
</div>

</div>
</body>
</html>
