<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/homeLayout"
>
<body>
<div th:fragment="content">
    <!--激活相应的菜单-->
    <div id="activeMenu" data-value="auth"></div>
    <div style="padding-bottom:60px;">
        <div class="home header">
            译员认证
        </div>
        <div class="homeTab">
            <div class="ui pointing secondary menu clearMargin">
                <a class="item" th:classappend="${param.tab}!=null and ${param.tab[0]}==2?'':'active'" data-tab="first">实名认证</a>
                <a class="item" th:classappend="${param.tab}!=null and ${param.tab[0]}==2?'active':''" data-tab="second">资质认证</a>
            </div>
            <div class="ui tab" th:classappend="${param.tab}!=null and ${param.tab[0]}==2?'':'active'" data-tab="first">
                <div style="margin: 30px;">
                    <div th:include="layout/realname::realname (${certificate},${check})" th:remove="tag"></div>
                    <!--成功通知-->
                    <div th:include="layout/message::message (${nameMessage})" th:remove="tag"></div>
                </div>
            </div>


            <div class="ui tab" th:classappend="${param.tab}!=null and ${param.tab[0]}==2?'active':''" data-tab="second">
                <div style="margin: 30px;">
                    <table class="ui large padded table">
                        <thead>
                        <tr>
                            <th class="two wide">资质认证信息</th>
                            <th class="seven wide"></th>
                            <th class="seven wide"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="collapsing">
                                教育背景
                            </td>
                            <td>
                                <div class="ui list">
                                    <div class="item" th:each="education:${educations}"
                                        th:text="'证书编号：'+${education.number}+'，'+${education.school}+${education.degree}+${education.major}+${education.startYear}+'~'+${education.graduateYear}"
                                    ></div>
                                </div>
                            </td>

                            <td class="right aligned collapsing">
                                <a th:href="@{/update/user/educate?field=education}">修改教育背景</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="collapsing">
                                资质证书
                            </td>
                            <td>
                                <div class="ui list">
                                    <div class="item" th:each="paper,paperStat:${papers}"
                                        th:if="${paper.certificateKind}!=null"
                                        th:text="${paper.certificateKind.name}"
                                    ></div>
                                    <div class="item" th:each="paper,paperStat:${papers}"
                                        th:if="${paper.certificateKind}==null"
                                        th:text="${paper.otherCertificate}"
                                    ></div>
                                </div>
                            </td>
                            <td class="right aligned collapsing">
                                <a th:href="@{/update/user/educate?field=certificate}">修改资质证书及其照片</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                资质证书照片
                            </td>
                            <td>
                                <img th:each="picture,pictureStat:${pictures}"
                                     th:src="${picture.path}"
                                     alt="" style="height: 80px;">
                            </td>
                            <td class="right aligned">
                            </td>
                        </tr>
                        <tr>
                            <td class="collapsing">
                                翻译语言
                            </td>
                            <td>
                                <div class="ui list">
                                    <div class="item" th:each="price:${prices}"
                                        th:text="${price.languageGroup.originLanguages.name}
                                        +'->'+${price.languageGroup.translateLanguages.name}
                                        +(${price.translateType}=='translate'?'笔译':'口译')
                                        +${price.price}
                                        +(${price.priceType}=='word'?'元/千字':'')
                                        +(${price.priceType}=='page'?'元/页':'')
                                        +(${price.priceType}=='hour'?'元/小时':'')
                                        +(${price.priceType}=='day'?'元/天':'')"
                                    ></div>
                                </div>
                            </td>

                            <td class="right aligned collapsing">
                                <a th:href="@{/update/user/educate/translatePrice}">修改翻译语言</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="collapsing">
                                母语
                            </td>
                            <td th:text="${info.motherTongue.name}">
                            </td>

                            <td class="right aligned collapsing">
                                <a th:href="@{/update/user/educate?field=motherTongue}">修改母语</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="collapsing">
                                翻译年限
                            </td>
                            <td th:text="${info.translateYear}+'年'">
                            </td>

                            <td class="right aligned collapsing">
                                <a th:href="@{/update/user/educate?field=translateYear}">修改翻译年限</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="collapsing">
                                擅长领域
                            </td>
                            <td>
                                <div class="ui list">
                                    <div class="item" th:each="field:${info.skilledFields}"
                                        th:text="${field.skilledField}"
                                    ></div>
                                </div>
                            </td>

                            <td class="right aligned collapsing">
                                <a th:href="@{/update/user/educate?field=skilledField}">修改擅长领域</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="collapsing">
                                擅长用途
                            </td>
                            <td>
                                <div class="ui list">
                                    <div class="item" th:each="usage:${info.skilledUsages}"
                                        th:text="${usage.skilledUsage}"
                                    ></div>
                                </div>
                            </td>

                            <td class="right aligned collapsing">
                                <a th:href="@{/update/user/educate?field=skilledUsage}">修改擅长用途</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                认证结果
                            </td>
                            <td th:if="${check.certificateCheck}==0"><i class="ui large blue clock icon"></i>审核中（1～3个工作日）
                            </td>
                            <td th:if="${check.certificateCheck}==1"><i class="ui large  green check circle icon"></i>审核通过
                                <a th:if="${check.realNameCheck}==1 and ${check.certificateCheck}==1" sec:authorize="!hasRole('ROLE_AUTH_USER')" th:href="@{/refresh/certificate}"><i class="ui large blue refresh icon"></i>刷新认证证书</a>
                            </td>
                            <td th:if="${check.certificateCheck}==2"><i class="ui large  red remove circle icon"></i>审核失败（原因：<span th:text="${check.message.certificateMessage}"></span>）
                            </td>
                            <td class="right aligned">
                                <a th:if="${check.certificateCheck}==2" th:href="@{/resubmit/education}">重新提交审核</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--成功通知-->
                    <div th:include="layout/message::message (${educationMessage})" th:remove="tag"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>
