<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add-article</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-yuren.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <script
            src="../assets/js/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="../assets/js/semantic.min.js"></script>
</head>
<body class="iframe-body">

<!--页面标题-->
<div class="ui header p14">添加资源</div>
<!--页面标题end-->


<div class="ui one column grid">
    <!--添加资源区域-->
   <div class="column">
        <div class="ui center aligned segment pv50">
            <div class="ui disabled lighter header"><i class="yu-location-arrow icon"></i>请将文件拖至此处</div>
            <div class="ui horizontal divider">Or</div>
            <button class="ui primary button">
                选择文件 <i class="yu-angle-right icon"></i>
            </button>
        </div>
   </div>

    <!--编辑资源信息-->
    <div class="column">
        <table class="ui unstackable striped table">
            <thead>
            <tr>
                <th>
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label for="">标题</label>
                    </div>
                </th>
                <th>文章</th>
                <th>浏览数</th>
                <th>点赞</th>
                <th>评论</th>
                <th>可见</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label for="">
                            <div class="ui list">
                                <div class="item">
                                    <img class="ui tiny top aligned image" src="../assets/img/tom.png" alt="">
                                    <div class="content">
                                        <div class="header">tom.jpg</div>
                                        <div class="pt10">128kb 2017-03-04</div>
                                        <div class="pt20">
                                            <a href="">编辑</a>
                                            <a href="">删除</a>
                                            <a href="">预览</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </td>
                <td><a href="">教程如何使用这个zip？</a></td>
                <td><i class="yu-eye"></i>385</td>
                <td><i class="yu-good"></i>311</td>
                <td><i class="yu-comment"></i>14</td>
                <td>会员</td>
            </tr>
            <tr>
                <td>
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label for="">
                            <div class="ui list">
                                <div class="item">
                                    <img class="ui tiny top aligned image" src="../assets/img/tom.png" alt="">
                                    <div class="content">
                                        <div class="header">tom.jpg</div>
                                        <div class="pt10">128kb 2017-03-04</div>
                                        <div class="pt20">
                                            <a href="">编辑</a>
                                            <a href="">删除</a>
                                            <a href="">预览</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </td>
                <td><a href="">教程如何使用这个zip？</a></td>
                <td><i class="yu-eye"></i>385</td>
                <td><i class="yu-good"></i>311</td>
                <td><i class="yu-comment"></i>14</td>
                <td>公开</td>
            </tr>
            <tr>
                <td>
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label for="">
                            <div class="ui list">
                                <div class="item">
                                    <img class="ui tiny top aligned image" src="../assets/img/tom.png" alt="">
                                    <div class="content">
                                        <div class="header">tom.jpg</div>
                                        <div class="pt10">128kb 2017-03-04</div>
                                        <div class="pt20">
                                            <a href="">编辑</a>
                                            <a href="">删除</a>
                                            <a href="">预览</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </td>
                <td><a href="">教程如何使用这个zip？</a></td>
                <td><i class="yu-eye"></i>385</td>
                <td><i class="yu-good"></i>311</td>
                <td><i class="yu-comment"></i>14</td>
                <td>公开</td>
            </tr>

            </tbody>
        </table>
        <!--批量操作-->
        <div class="two wide computer only sixteen wide tablet only mobile only column">
            <div class="ui buttons">
                <div class="ui button p14">批量操作</div>
                <div class="ui floating dropdown icon button">
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item"><i class="delete icon"></i> 删除选中</div>
                        <div class="item"><i class="hide icon"></i> 取消发布</div>
                    </div>
                </div>
            </div>
        </div>
        <!--批量操作end-->
    </div>
</div>


<script>
    //启动dropdown
    $('.ui.dropdown').dropdown();

    //启动手风琴式菜单
    $('.ui.accordion').accordion();

    //启动标签式菜单
    $('.menu .item').tab();
</script>
</body>
</html>