<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add-article</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-yuren.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <script
            src="../assets/js/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="../assets/js/semantic.min.js"></script>
</head>
<body class="iframe-body">

<!--页面标题-->
<div class="ui header p14">所有文章</div>
<!--页面标题end-->


<div class="ui one column grid">


    <!--筛选和搜索菜单-->
    <div class="column">
        <div class="ui fluid four column grid">


            <!--目录筛选-->
            <div class="five wide computer only sixteen wide tablet only mobile only column">
                <div class="ui fluid three item menu clear-shadow">
                    <div class="ui dropdown link item">
                        <span class="text">一级目录</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="header">分类</div>
                            <div class="item">家居用品</div>
                            <div class="item">床具</div>
                            <div class="divider"></div>
                            <div class="header">订单</div>
                            <div class="item">状态</div>
                            <div class="item">取消</div>
                        </div>
                    </div>
                    <div class="ui dropdown link item">
                        <span class="text">二级目录</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="header">分类</div>
                            <div class="item">家居用品</div>
                            <div class="item">床具</div>
                            <div class="divider"></div>
                            <div class="header">订单</div>
                            <div class="item">状态</div>
                            <div class="item">取消</div>
                        </div>
                    </div>
                    <div class="ui left labeled icon item">
                        <i class="yu-filter icon">筛选</i>
                    </div>
                </div>
            </div>
            <!--目录筛选end-->

            <!--可见筛选-->
            <div class="five wide computer only sixteen wide tablet only mobile only column">
                <div class="ui fluid basic buttons">
                    <button class="ui active button">全部 13</button>
                    <button class="ui button">公开 7</button>
                    <button class="ui button">会员 6</button>
                </div>
            </div>
            <!--可见筛选end-->

            <!--搜索文章-->
            <div class="four wide computer only sixteen wide tablet only mobile only column">
                <div class="ui fluid search">
                    <div class="ui fluid icon input">
                        <input class="prompt" type="text" placeholder="搜索文章...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <!--搜索文章end-->
        </div>
    </div>
    <!--筛选和搜索菜单end-->

    <!--所有文章-->
    <div class="column">
        <table class="ui unstackable striped table">
            <thead>
            <tr>
                <th>
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label for="">标题</label>
                    </div>
                </th>
                <th>目录</th>
                <th>教程</th>
                <th>源码</th>
                <th>示例</th>
                <th>浏览数</th>
                <th>点赞</th>
                <th>评论</th>
                <th>可见</th>
                <th>日期</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label for=""><a href="">什么是Javascript?</a></label>
                    </div>
                </td>
                <td><a href="">JQuery</a></td>
                <td><a href="">发布</a></td>
                <td><a href="">草稿</a></td>
                <td><a href="">未编辑</a></td>
                <td><i class="yu-eye"></i>385</td>
                <td><i class="yu-good"></i>311</td>
                <td><i class="yu-comment"></i>14</td>
                <td>公开</td>
                <td>2017-03-04</td>
                <td><a href="">编辑</a></td>
                <td><a href="">删除</a></td>
            </tr>
            <tr>
                <td>
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label for=""><a href="">什么是Javascript?</a></label>
                    </div>
                </td>
                <td><a href="">JQuery</a></td>
                <td><a href="">发布</a></td>
                <td><a href="">草稿</a></td>
                <td><a href="">未编辑</a></td>
                <td><i class="yu-eye"></i>385</td>
                <td><i class="yu-good"></i>311</td>
                <td><i class="yu-comment"></i>14</td>
                <td>公开</td>
                <td>2017-03-04</td>
                <td><a href="">编辑</a></td>
                <td><a href="">删除</a></td>
            </tr>
            <tr>
                <td>
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label for=""><a href="">什么是Javascript?</a></label>
                    </div>
                </td>
                <td><a href="">JQuery</a></td>
                <td><a href="">发布</a></td>
                <td><a href="">草稿</a></td>
                <td><a href="">未编辑</a></td>
                <td><i class="yu-eye"></i>385</td>
                <td><i class="yu-good"></i>311</td>
                <td><i class="yu-comment"></i>14</td>
                <td>会员</td>
                <td>2017-03-04</td>
                <td><a href="">编辑</a></td>
                <td><a href="">删除</a></td>
            </tr>
            <tr>
                <td>
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label for=""><a href="">什么是Javascript?</a></label>
                    </div>
                </td>
                <td><a href="">JQuery</a></td>
                <td><a href="">发布</a></td>
                <td><a href="">草稿</a></td>
                <td><a href="">未编辑</a></td>
                <td><i class="yu-eye"></i>385</td>
                <td><i class="yu-good"></i>311</td>
                <td><i class="yu-comment"></i>14</td>
                <td>会员</td>
                <td>2017-03-04</td>
                <td><a href="">编辑</a></td>
                <td><a href="">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--所有文章end-->

    <!--批量操作-->
    <div class="two wide computer only sixteen wide tablet only mobile only column">
        <div class="ui buttons">
            <div class="ui button p14">批量操作</div>
            <div class="ui floating dropdown icon button">
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item"><i class="delete icon"></i> 删除选中</div>
                    <div class="item"><i class="hide icon"></i> 取消发布</div>
                </div>
            </div>
        </div>
    </div>
    <!--批量操作end-->
</div>


<script>
    //启动dropdown
    $('.ui.dropdown').dropdown();

    //启动手风琴式菜单
    $('.ui.accordion').accordion();

    //启动标签式菜单
    $('.menu .item').tab();
</script>
</body>
</html>