<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add-article</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-yuren.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <script
            src="../assets/js/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="../assets/js/semantic.min.js"></script>
</head>
<body class="iframe-body">

<!--页面标题-->
<div class="ui header p14">所有资源</div>
<!--页面标题end-->


<div class="ui one column centered grid">
    <!--筛选和搜索菜单-->
    <div class="column">
        <div class="ui fluid four column grid">
            <!--批量操作-->
            <div class="two wide computer only sixteen wide tablet only mobile only column">
                <div class="ui buttons">
                    <div class="ui icon button"><i class="large yu-list icon"></i></div>
                    <div class="ui active icon button"><i class="large yu-more-function icon"></i></div>
                </div>
            </div>
            <!--批量操作end-->

            <!--目录筛选-->
            <div class="five wide computer only sixteen wide tablet only mobile only column">
                <div class="ui fluid three item menu clear-shadow">
                    <div class="ui dropdown link item">
                        <span class="text">类型</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="header">分类</div>
                            <div class="item">家居用品</div>
                            <div class="item">床具</div>
                            <div class="divider"></div>
                            <div class="header">订单</div>
                            <div class="item">状态</div>
                            <div class="item">取消</div>
                        </div>
                    </div>
                    <div class="ui dropdown link item">
                        <span class="text">后缀</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="header">分类</div>
                            <div class="item">家居用品</div>
                            <div class="item">床具</div>
                            <div class="divider"></div>
                            <div class="header">订单</div>
                            <div class="item">状态</div>
                            <div class="item">取消</div>
                        </div>
                    </div>
                    <div class="ui left labeled icon item">
                        <i class="yu-filter icon">筛选</i>
                    </div>
                </div>
            </div>
            <!--目录筛选end-->

            <!--可见筛选-->
            <div class="five wide computer only sixteen wide tablet only mobile only column">
                <div class="ui fluid basic buttons">
                    <button class="ui active button">下载 13</button>
                    <button class="ui button">公开 7</button>
                    <button class="ui button">会员 6</button>
                </div>
            </div>
            <!--可见筛选end-->

            <!--搜索文章-->
            <div class="four wide computer only sixteen wide tablet only mobile only column">
                <div class="ui fluid search">
                    <div class="ui fluid icon input">
                        <input class="prompt" type="text" placeholder="搜索资源...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <!--搜索文章end-->
        </div>
    </div>
    <!--筛选和搜索菜单end-->
</div>

<!--资源卡片容器-->
<div class="ui one column grid ph14">
    <div class="column">
        <div class="ui six doubling special cards">
            <div class="card">
                <div class="dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button"><a href="">删除</a></div>
                            </div>
                        </div>
                    </div>
                    <img src="../assets/img/tom.png">
                </div>
                <div class="content">
                    <a class="header">tom图片<label class="ui right floated circular red label">JPG</label></a>
                    <div class="meta">
                        <span class="date">2014日创造</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button"><a href="">删除</a></div>
                            </div>
                        </div>
                    </div>
                    <img src="../assets/img/tom.png">
                </div>
                <div class="content">
                    <a class="header">tom图片<label class="ui right floated circular red label">JPG</label></a>
                    <div class="meta">
                        <span class="date">2014日创造</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="column">

        <table class="ui unstackable striped table">
            <thead>
            <tr>
                <th>
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label for="">标题</label>
                    </div>
                </th>
                <th>文章</th>
                <th>浏览数</th>
                <th>点赞</th>
                <th>评论</th>
                <th>可见</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label for="">
                            <div class="ui list">
                                <div class="item">
                                    <img class="ui tiny top aligned image" src="../assets/img/tom.png" alt="">
                                    <div class="content">
                                        <div class="header">tom.jpg</div>
                                        <div class="pt10">128kb 2017-03-04</div>
                                        <div class="pt20">
                                            <a href="">编辑</a>
                                            <a href="">删除</a>
                                            <a href="">预览</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </td>
                <td><a href="">教程如何使用这个zip？</a></td>
                <td><i class="yu-eye"></i>385</td>
                <td><i class="yu-good"></i>311</td>
                <td><i class="yu-comment"></i>14</td>
                <td>会员</td>
            </tr>
            <tr>
                <td>
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label for="">
                            <div class="ui list">
                                <div class="item">
                                    <img class="ui tiny top aligned image" src="../assets/img/tom.png" alt="">
                                    <div class="content">
                                        <div class="header">tom.jpg</div>
                                        <div class="pt10">128kb 2017-03-04</div>
                                        <div class="pt20">
                                            <a href="">编辑</a>
                                            <a href="">删除</a>
                                            <a href="">预览</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </td>
                <td><a href="">教程如何使用这个zip？</a></td>
                <td><i class="yu-eye"></i>385</td>
                <td><i class="yu-good"></i>311</td>
                <td><i class="yu-comment"></i>14</td>
                <td>公开</td>
            </tr>
            <tr>
                <td>
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label for="">
                            <div class="ui list">
                                <div class="item">
                                    <img class="ui tiny top aligned image" src="../assets/img/tom.png" alt="">
                                    <div class="content">
                                        <div class="header">tom.jpg</div>
                                        <div class="pt10">128kb 2017-03-04</div>
                                        <div class="pt20">
                                            <a href="">编辑</a>
                                            <a href="">删除</a>
                                            <a href="">预览</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </td>
                <td><a href="">教程如何使用这个zip？</a></td>
                <td><i class="yu-eye"></i>385</td>
                <td><i class="yu-good"></i>311</td>
                <td><i class="yu-comment"></i>14</td>
                <td>公开</td>
            </tr>

            </tbody>
        </table>
        <!--批量操作-->
        <div class="two wide computer only sixteen wide tablet only mobile only column">
            <div class="ui buttons">
                <div class="ui button p14">批量操作</div>
                <div class="ui floating dropdown icon button">
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item"><i class="delete icon"></i> 删除选中</div>
                        <div class="item"><i class="hide icon"></i> 取消发布</div>
                    </div>
                </div>
            </div>
        </div>
        <!--批量操作end-->
    </div>

</div>
<!--资源卡片容器end-->

<script>
    //启动dropdown
    $('.ui.dropdown').dropdown();

    //启动手风琴式菜单
    $('.ui.accordion').accordion();

    //启动标签式菜单
    $('.menu .item').tab();

    //启动卡片上的hover效果
    $('.special.cards .image').dimmer({on: 'hover'});
</script>
</body>
</html>